.counter {
    background-color: rgb(125, 150, 125);
  
    .counter-action {
      padding: 10px;
      margin: 0 10px;
      background-color: rgb(147, 77, 165);
    }
  
    .counter-number {
      font-size: 2em;
      margin: 0 10px;
    }
  }